<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="JOYFULL.CMPW.Data" type="JOYFULL.CMPW.Data.DataConfigHandler, JOYFULL.CMPW.Data, Version=1.0.*, Culture=neutral" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <JOYFULL.CMPW.Data>
    <DatabaseSettings>
      <DatabaseSetting DatabaseKey="CMPW" MaxConnectionCount="100" MaxDataReaderCount="100" ConnectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\集中监控预警系统\运行记录\CMPW.mdb" DatabaseType="MSAccess" />
      <!--<DatabaseSetting DatabaseKey="CMPW" MaxConnectionCount="100" MaxDataReaderCount="100" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\CMPW\CMPW.accdb" DatabaseType="MSAccess" />-->
    </DatabaseSettings>
  </JOYFULL.CMPW.Data>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:\集中监控预警系统\运行记录\LOG\CMPW.log" />
      <appendToFile value="true" />
      <!--<rollingStyle value="Date" /> -->
      <maximumFileSize value="10240KB" />
      <maxSizeRollBackups value="20" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ImageFolder" value="D:\集中监控预警系统\运行记录\" />
    <add key="ImageShared" value="D:\集中监控预警系统\运行记录\Shared\" />
    <add key="DailyFolder" value="D:\集中监控预警系统\监控记录\"/>
    <add key="AlertFolder" value="D:\集中监控预警系统\预警音频\" />
    <add key="ErrorFolder" value="D:\集中监控预警系统\识别错误\" />
    <add key="ExceptionFolder" value="D:\集中监控预警系统\异常图片\" />
    <add key="BizConfigFile" value="D:\集中监控预警系统\配置文件\biz.xml" />
    <add key="SysSettingFile" value="D:\集中监控预警系统\配置文件\SystemsSetting.xml" />
    <add key="RemindingFile" value="D:\集中监控预警系统\配置文件\TimeReminding.xml" />
    <add key="DatabaseFile" value="D:\集中监控预警系统\运行记录\CMPW.mdb" />
    <add key="ChannelID" value="1" />
    <add key="ParasFolder" value="D:\集中监控预警系统\配置文件\" />
    <add key="RecErrorFolder" value="D:\集中监控预警系统\运行记录\RecErrors" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>