<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="JOYFULL.CMPW.Data" type="JOYFULL.CMPW.Data.DataConfigHandler, JOYFULL.CMPW.Data, Version=1.0.*, Culture=neutral"/>
  </configSections>
  <JOYFULL.CMPW.Data>
    <DatabaseSettings>
      <DatabaseSetting DatabaseKey="CMPW" MaxConnectionCount="100" MaxDataReaderCount="100" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=test.accdb" DatabaseType="MSAccess"/>
    </DatabaseSettings>
  </JOYFULL.CMPW.Data>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
