<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="JOYFULL.CMPW.Data" type="JOYFULL.CMPW.Data.DataConfigHandler, JOYFULL.CMPW.Data, Version=1.0.*, Culture=neutral" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <JOYFULL.CMPW.Data>
    <DatabaseSettings>
      <DatabaseSetting DatabaseKey="CMPW" MaxConnectionCount="100" MaxDataReaderCount="100" ConnectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\CMPW\CMPW.mdb" DatabaseType="MSAccess" />
      <!--<DatabaseSetting DatabaseKey="CMPW" MaxConnectionCount="100" MaxDataReaderCount="100" ConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\CMPW\CMPW.accdb" DatabaseType="MSAccess" />-->
    </DatabaseSettings>
  </JOYFULL.CMPW.Data>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\CMPW\CMPW.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ImageFolder" value="C:\CMPW\Images\" />
    <add key="ImageShared" value="C:\CMPW\Images\Shared\" />
    <add key="ImageCaptures" value="C:\CMPW\Images\Shared\Captures" />
    <add key="VideoFolder" value="C:\CMPW\Videos\" />
    <add key="AlertFolder" value="C:\CMPW\Alerts\" />
    <add key="ErrorFolder" value="C:\CMPW\Error\" />
    <add key="BizConfigFile" value="C:\CMPW\biz.xml" />
    <add key="SysSettingFile" value="C:\CMPW\SystemsSetting.xml" />
    <add key="DatabaseFile" value="C:\CMPW\CMPW.mdb" />
    <add key="ChannelID" value="1" />
    <add key="ParasFolder" value="C:\CMPW\ParasFolder\" />
    <add key="RecErrorFolder" value="C:\CMPW\ParasFolder\RecErrors" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>